.DS_Store
.tmp*
dist
test/myapp/production.js
node_modules
build/apps/test/multibuild/*/*.production.js
build/apps/test/multibuild/*/*.production.css
less/test/production.js
less/test/production.css
/packages/
build/packages/test/packages_test/production.js
build/packages/test/packages_test/scripts/production.js
build/packages/test/packages_test/scripts/packages
build/packages/test/packages_test/packages/
build/css/test/production.js
