.DS_Store
.tmp*
dist
test/myapp/production.js
test/css_paths/bundles/
node_modules
bower_components
/packages/
test/out/
test/bundle/bundles/
test/pluginify/out.js
test/nocallback/out.js
test/dep_plugins/bundles
test/bundles/
test/other_bundle/other_dist/
test/bundle/alternate/
test/minify/bundles/
test/build_types/bundles/
test/css_paths/bundles/
test/plugins/bundles/
test/other_bundle/bundles/
test/pluginify_deps/out/
test/bundle_multiple_builds/
test/metadata_deps/dist/
